.tilter {
    position: relative;
    flex: none;
    perspective: 1000px;
    overflow: hidden;
}

.tilter * {
    pointer-events: none;
}

.tilter:hover, .tilter:focus {
    color: #fff;
    outline: none;
}


/*
.tilter__figure,
.tilter__deco,
.tilter__caption {
  will-change: transform;
}*/

.tilter__figure>* {
    transform: translateZ(0px);
    /* Force correct stacking order */
}

.smooth .tilter__figure, .smooth .tilter__deco--overlay, .smooth .tilter__deco--lines, .smooth .tilter__deco--shine div, .smooth .tilter__caption {
    transition: transform 500ms ease-in;
}

.tilter__figure {
    position: relative;
}

.tilter__figure svg {
    margin: 0 auto;
}

.tilter__caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: table;
    margin: 0 auto;
}

.tilter__title {
    vertical-align: middle;
    margin: 0 auto;
    padding: 1em 2em;
    font-weight: normal;
    font-size: calc(16px + (32 - 16) * (100vmin - 320px) / (1440 - 320));
    line-height: 1;
    text-align: left;
    display: table-cell;
    width: 100%;
    height: 100%;
}

.tilter__title img {
    vertical-align: text-top;
    display: inline-block;
    float: left;
    margin-right: 2rem;
}
